* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  /*opacity: 0.9;*/
  text-align: center;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.item img {
  height: 50px;
  padding-left: 10px;
}

.item span {
  text-decoration: underline;
  margin: 10px;
  padding: 10px;
}

/* Main Photo */

.main {
  position: relative;
  top: 69px;
  display: flex;
}
