body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: black;
}

a {
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  text-align: center
}

.item img {
  height: 50px;
  padding-left: 10px;
}

.item span {
  text-decoration: underline;
  margin: 10px;
  padding: 10px;
}

/* Main Photo */

.main {
  position: relative;
  /*top: 60px;*/
}

.main .container {
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}

.container .text {
  width: 1200px;
  height: 60px;
  align-self: center;
  background-color: black;
}

.text h2 {
  padding-top: 5px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 35px;
}

.text h4 {
  padding: 10px;
  margin: 0;
  padding-bottom: 5px;
  background-color: black;
}

/* Content / Tea of the month */

.content {
  position: relative;
  /*top: 69px;*/
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  padding-top: 5px;
  margin-bottom: 10px;
  margin-top: 80px;
  font-size: 35px;
}

.content h4 {
  padding: 10px;
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.container-content {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.container-content div img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.container-two {
  width: 640px;
  display: flex;
  justify-content: space-between;
}

#tea {
  visibility: hidden;
}

/* Location */

.image {
  background-image: url(../images/img-locations-background.jpg);
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 1200px;
  height: 500px;
}

.image h2 {
  position: relative;
  margin: 0;
  padding-top: 100px;

}

.container-location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 40px;
  background-color: black;
  width: 300px;
  height: 250px;
}

#down {
  position: relative;
  top: 60px;
}

/* Footer */

.footer {
  position: relative;
  top: 85px;
}

.height-footer {
  height: 200px;
}

.align-left {
  text-align: left;
}

h5 {
  margin-top: 20px;
}



/*.container-location div {
  width: 300px;
  height: 300px;
}*/

/*.box {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}*/
