* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  /*opacity: 0.9;*/
  text-align: center;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.item img {
  height: 50px;
  padding-left: 10px;
}

.item span {
  text-decoration: underline;
  margin: 10px;
  padding: 10px;
}

/* Main Photo */

.main {
  position: relative;
  top: 69px;
}

.main .container {
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}

.container .text {
  width: 1200px;
  height: 60px;
  align-self: center;
  background-color: black;
}

.text h2 {
  padding-top: 5px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 35px;
}

.text h4 {
  padding: 10px;
  margin: 0;
  padding-bottom: 5px;
}
